[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Flash Entregas
[access "refs/*"]
	owner = group user/Tomas Meneses (TomasMeneses)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tomas Meneses (TomasMeneses)
	label-Verified = -1..+1 group user/Tomas Meneses (TomasMeneses)
	push = group user/Tomas Meneses (TomasMeneses)
	read = group user/Tomas Meneses (TomasMeneses)
	rebase = group user/Tomas Meneses (TomasMeneses)
	removeReviewer = group user/Tomas Meneses (TomasMeneses)
	submit = group user/Tomas Meneses (TomasMeneses)
[access "refs/heads/*"]
	create = group user/Tomas Meneses (TomasMeneses)
	push = +force group user/Tomas Meneses (TomasMeneses)
	pushMerge = group user/Tomas Meneses (TomasMeneses)
	read = group user/Tomas Meneses (TomasMeneses)
[access "refs/tags/*"]
	push = group user/Tomas Meneses (TomasMeneses)
	push = +force group user/Tomas Meneses (TomasMeneses)
